In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
from kaggle import api
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'

In [ ]:
!kaggle competitions download -c house-prices-advanced-regression-techniques

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading house-prices-advanced-regression-techniques.zip to /content
100% 199k/199k [00:00<00:00, 705kB/s]
100% 199k/199k [00:00<00:00, 705kB/s]

In [ ]:
import zipfile
z=zipfile.ZipFile('/content/house-prices-advanced-regression-techniques.zip','r')
z.extractall('/content')
z.close()

Data preprocessing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [ ]:
df = pd.read_csv('/content/train.csv')
df_test = pd.read_csv('/content/test.csv')

In [ ]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
df_test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [ ]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
for col in df.columns:
    print(f"Column Name: {col}")
    print(df[col].head())  # Print first 5 elements of the column

Column Name: Id
0    1
1    2
2    3
3    4
4    5
Name: Id, dtype: int64
Column Name: MSSubClass
0    60
1    20
2    60
3    70
4    60
Name: MSSubClass, dtype: int64
Column Name: MSZoning
0    RL
1    RL
2    RL
3    RL
4    RL
Name: MSZoning, dtype: object
Column Name: LotFrontage
0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
Name: LotFrontage, dtype: float64
Column Name: LotArea
0     8450
1     9600
2    11250
3     9550
4    14260
Name: LotArea, dtype: int64
Column Name: Street
0    Pave
1    Pave
2    Pave
3    Pave
4    Pave
Name: Street, dtype: object
Column Name: Alley
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Alley, dtype: object
Column Name: LotShape
0    Reg
1    Reg
2    IR1
3    IR1
4    IR1
Name: LotShape, dtype: object
Column Name: LandContour
0    Lvl
1    Lvl
2    Lvl
3    Lvl
4    Lvl
Name: LandContour, dtype: object
Column Name: Utilities
0    AllPub
1    AllPub
2    AllPub
3    AllPub
4    AllPub
Name: Utilities, dtype: object
Column Name: LotConfig
0    Inside
1       FR2
2    Inside
3    Corner
4       FR2
Name: LotConfig, dtype: object
Column Name: LandSlope
0    Gtl
1    Gtl
2    Gtl
3    Gtl
4    Gtl
Name: LandSlope, dtype: object
Column Name: Neighborhood
0    CollgCr
1    Veenker
2    CollgCr
3    Crawfor
4    NoRidge
Name: Neighborhood, dtype: object
Column Name: Condition1
0     Norm
1    Feedr
2     Norm
3     Norm
4     Norm
Name: Condition1, dtype: object
Column Name: Condition2
0    Norm
1    Norm
2    Norm
3    Norm
4    Norm
Name: Condition2, dtype: object
Column Name: BldgType
0    1Fam
1    1Fam
2    1Fam
3    1Fam
4    1Fam
Name: BldgType, dtype: object
Column Name: HouseStyle
0    2Story
1    1Story
2    2Story
3    2Story
4    2Story
Name: HouseStyle, dtype: object
Column Name: OverallQual
0    7
1    6
2    7
3    7
4    8
Name: OverallQual, dtype: int64
Column Name: OverallCond
0    5
1    8
2    5
3    5
4    5
Name: OverallCond, dtype: int64
Column Name: YearBuilt
0    2003
1    1976
2    2001
3    1915
4    2000
Name: YearBuilt, dtype: int64
Column Name: YearRemodAdd
0    2003
1    1976
2    2002
3    1970
4    2000
Name: YearRemodAdd, dtype: int64
Column Name: RoofStyle
0    Gable
1    Gable
2    Gable
3    Gable
4    Gable
Name: RoofStyle, dtype: object
Column Name: RoofMatl
0    CompShg
1    CompShg
2    CompShg
3    CompShg
4    CompShg
Name: RoofMatl, dtype: object
Column Name: Exterior1st
0    VinylSd
1    MetalSd
2    VinylSd
3    Wd Sdng
4    VinylSd
Name: Exterior1st, dtype: object
Column Name: Exterior2nd
0    VinylSd
1    MetalSd
2    VinylSd
3    Wd Shng
4    VinylSd
Name: Exterior2nd, dtype: object
Column Name: MasVnrType
0    BrkFace
1        NaN
2    BrkFace
3        NaN
4    BrkFace
Name: MasVnrType, dtype: object
Column Name: MasVnrArea
0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
Name: MasVnrArea, dtype: float64
Column Name: ExterQual
0    Gd
1    TA
2    Gd
3    TA
4    Gd
Name: ExterQual, dtype: object
Column Name: ExterCond
0    TA
1    TA
2    TA
3    TA
4    TA
Name: ExterCond, dtype: object
Column Name: Foundation
0     PConc
1    CBlock
2     PConc
3    BrkTil
4     PConc
Name: Foundation, dtype: object
Column Name: BsmtQual
0    Gd
1    Gd
2    Gd
3    TA
4    Gd
Name: BsmtQual, dtype: object
Column Name: BsmtCond
0    TA
1    TA
2    TA
3    Gd
4    TA
Name: BsmtCond, dtype: object
Column Name: BsmtExposure
0    No
1    Gd
2    Mn
3    No
4    Av
Name: BsmtExposure, dtype: object
Column Name: BsmtFinType1
0    GLQ
1    ALQ
2    GLQ
3    ALQ
4    GLQ
Name: BsmtFinType1, dtype: object
Column Name: BsmtFinSF1
0    706
1    978
2    486
3    216
4    655
Name: BsmtFinSF1, dtype: int64
Column Name: BsmtFinType2
0    Unf
1    Unf
2    Unf
3    Unf
4    Unf
Name: BsmtFinType2, dtype: object
Column Name: BsmtFinSF2
0    0
1    0
2    0
3    0
4    0
Name: BsmtFinSF2, dtype: int64
Column Name: BsmtUnfSF
0    150
1    284
2    434
3    540
4    490
Name: BsmtUnfSF, dtype: int64
Column Name: TotalBsmtSF
0     856
1    1262
2     920
3     756
4    1145
Name: TotalBsmtSF, dtype: int64
Column Name: Heating
0    GasA
1    GasA
2    GasA
3    GasA
4    GasA
Name: Heating, dtype: object
Column Name: HeatingQC
0    Ex
1    Ex
2    Ex
3    Gd
4    Ex
Name: HeatingQC, dtype: object
Column Name: CentralAir
0    Y
1    Y
2    Y
3    Y
4    Y
Name: CentralAir, dtype: object
Column Name: Electrical
0    SBrkr
1    SBrkr
2    SBrkr
3    SBrkr
4    SBrkr
Name: Electrical, dtype: object
Column Name: 1stFlrSF
0     856
1    1262
2     920
3     961
4    1145
Name: 1stFlrSF, dtype: int64
Column Name: 2ndFlrSF
0     854
1       0
2     866
3     756
4    1053
Name: 2ndFlrSF, dtype: int64
Column Name: LowQualFinSF
0    0
1    0
2    0
3    0
4    0
Name: LowQualFinSF, dtype: int64
Column Name: GrLivArea
0    1710
1    1262
2    1786
3    1717
4    2198
Name: GrLivArea, dtype: int64
Column Name: BsmtFullBath
0    1
1    0
2    1
3    1
4    1
Name: BsmtFullBath, dtype: int64
Column Name: BsmtHalfBath
0    0
1    1
2    0
3    0
4    0
Name: BsmtHalfBath, dtype: int64
Column Name: FullBath
0    2
1    2
2    2
3    1
4    2
Name: FullBath, dtype: int64
Column Name: HalfBath
0    1
1    0
2    1
3    0
4    1
Name: HalfBath, dtype: int64
Column Name: BedroomAbvGr
0    3
1    3
2    3
3    3
4    4
Name: BedroomAbvGr, dtype: int64
Column Name: KitchenAbvGr
0    1
1    1
2    1
3    1
4    1
Name: KitchenAbvGr, dtype: int64
Column Name: KitchenQual
0    Gd
1    TA
2    Gd
3    Gd
4    Gd
Name: KitchenQual, dtype: object
Column Name: TotRmsAbvGrd
0    8
1    6
2    6
3    7
4    9
Name: TotRmsAbvGrd, dtype: int64
Column Name: Functional
0    Typ
1    Typ
2    Typ
3    Typ
4    Typ
Name: Functional, dtype: object
Column Name: Fireplaces
0    0
1    1
2    1
3    1
4    1
Name: Fireplaces, dtype: int64
Column Name: FireplaceQu
0    NaN
1     TA
2     TA
3     Gd
4     TA
Name: FireplaceQu, dtype: object
Column Name: GarageType
0    Attchd
1    Attchd
2    Attchd
3    Detchd
4    Attchd
Name: GarageType, dtype: object
Column Name: GarageYrBlt
0    2003.0
1    1976.0
2    2001.0
3    1998.0
4    2000.0
Name: GarageYrBlt, dtype: float64
Column Name: GarageFinish
0    RFn
1    RFn
2    RFn
3    Unf
4    RFn
Name: GarageFinish, dtype: object
Column Name: GarageCars
0    2
1    2
2    2
3    3
4    3
Name: GarageCars, dtype: int64
Column Name: GarageArea
0    548
1    460
2    608
3    642
4    836
Name: GarageArea, dtype: int64
Column Name: GarageQual
0    TA
1    TA
2    TA
3    TA
4    TA
Name: GarageQual, dtype: object
Column Name: GarageCond
0    TA
1    TA
2    TA
3    TA
4    TA
Name: GarageCond, dtype: object
Column Name: PavedDrive
0    Y
1    Y
2    Y
3    Y
4    Y
Name: PavedDrive, dtype: object
Column Name: WoodDeckSF
0      0
1    298
2      0
3      0
4    192
Name: WoodDeckSF, dtype: int64
Column Name: OpenPorchSF
0    61
1     0
2    42
3    35
4    84
Name: OpenPorchSF, dtype: int64
Column Name: EnclosedPorch
0      0
1      0
2      0
3    272
4      0
Name: EnclosedPorch, dtype: int64
Column Name: 3SsnPorch
0    0
1    0
2    0
3    0
4    0
Name: 3SsnPorch, dtype: int64
Column Name: ScreenPorch
0    0
1    0
2    0
3    0
4    0
Name: ScreenPorch, dtype: int64
Column Name: PoolArea
0    0
1    0
2    0
3    0
4    0
Name: PoolArea, dtype: int64
Column Name: PoolQC
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: PoolQC, dtype: object
Column Name: Fence
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Fence, dtype: object
Column Name: MiscFeature
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: MiscFeature, dtype: object
Column Name: MiscVal
0    0
1    0
2    0
3    0
4    0
Name: MiscVal, dtype: int64
Column Name: MoSold
0     2
1     5
2     9
3     2
4    12
Name: MoSold, dtype: int64
Column Name: YrSold
0    2008
1    2007
2    2008
3    2006
4    2008
Name: YrSold, dtype: int64
Column Name: SaleType
0    WD
1    WD
2    WD
3    WD
4    WD
Name: SaleType, dtype: object
Column Name: SaleCondition
0     Normal
1     Normal
2     Normal
3    Abnorml
4     Normal
Name: SaleCondition, dtype: object
Column Name: SalePrice
0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [ ]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [ ]:
df_test.isnull().sum().sum()

7878

In [ ]:
columns_with_null = df.columns[df.isnull().any()]
for col in columns_with_null:
    num_nulls = df[col].isnull().sum()
    # unique_vals = df[col].unique()
    col_dtype = df[col].dtype
    print(f"Column '{col}' (dtype: {col_dtype}) has {num_nulls} null values")

Column 'LotFrontage' (dtype: float64) has 259 null values
Column 'Alley' (dtype: object) has 1369 null values
Column 'MasVnrType' (dtype: object) has 872 null values
Column 'MasVnrArea' (dtype: float64) has 8 null values
Column 'BsmtQual' (dtype: object) has 37 null values
Column 'BsmtCond' (dtype: object) has 37 null values
Column 'BsmtExposure' (dtype: object) has 38 null values
Column 'BsmtFinType1' (dtype: object) has 37 null values
Column 'BsmtFinType2' (dtype: object) has 38 null values
Column 'Electrical' (dtype: object) has 1 null values
Column 'FireplaceQu' (dtype: object) has 690 null values
Column 'GarageType' (dtype: object) has 81 null values
Column 'GarageYrBlt' (dtype: float64) has 81 null values
Column 'GarageFinish' (dtype: object) has 81 null values
Column 'GarageQual' (dtype: object) has 81 null values
Column 'GarageCond' (dtype: object) has 81 null values
Column 'PoolQC' (dtype: object) has 1453 null values
Column 'Fence' (dtype: object) has 1179 null values
Column 'MiscFeature' (dtype: object) has 1406 null values

In [ ]:
columns_with_null = df_test.columns[df_test.isnull().any()]
for col in columns_with_null:
    num_nulls = df_test[col].isnull().sum()
    # unique_vals = df[col].unique()
    col_dtype = df_test[col].dtype
    print(f"Column '{col}' (dtype: {col_dtype}) has {num_nulls} null values")

Column 'MSZoning' (dtype: object) has 4 null values
Column 'LotFrontage' (dtype: float64) has 227 null values
Column 'Alley' (dtype: object) has 1352 null values
Column 'Utilities' (dtype: object) has 2 null values
Column 'Exterior1st' (dtype: object) has 1 null values
Column 'Exterior2nd' (dtype: object) has 1 null values
Column 'MasVnrType' (dtype: object) has 894 null values
Column 'MasVnrArea' (dtype: float64) has 15 null values
Column 'BsmtQual' (dtype: object) has 44 null values
Column 'BsmtCond' (dtype: object) has 45 null values
Column 'BsmtExposure' (dtype: object) has 44 null values
Column 'BsmtFinType1' (dtype: object) has 42 null values
Column 'BsmtFinSF1' (dtype: float64) has 1 null values
Column 'BsmtFinType2' (dtype: object) has 42 null values
Column 'BsmtFinSF2' (dtype: float64) has 1 null values
Column 'BsmtUnfSF' (dtype: float64) has 1 null values
Column 'TotalBsmtSF' (dtype: float64) has 1 null values
Column 'BsmtFullBath' (dtype: float64) has 2 null values
Column 'BsmtHalfBath' (dtype: float64) has 2 null values
Column 'KitchenQual' (dtype: object) has 1 null values
Column 'Functional' (dtype: object) has 2 null values
Column 'FireplaceQu' (dtype: object) has 730 null values
Column 'GarageType' (dtype: object) has 76 null values
Column 'GarageYrBlt' (dtype: float64) has 78 null values
Column 'GarageFinish' (dtype: object) has 78 null values
Column 'GarageCars' (dtype: float64) has 1 null values
Column 'GarageArea' (dtype: float64) has 1 null values
Column 'GarageQual' (dtype: object) has 78 null values
Column 'GarageCond' (dtype: object) has 78 null values
Column 'PoolQC' (dtype: object) has 1456 null values
Column 'Fence' (dtype: object) has 1169 null values
Column 'MiscFeature' (dtype: object) has 1408 null values
Column 'SaleType' (dtype: object) has 1 null values

In [ ]:
# train
for col in df.columns:
    num_nulls = df[col].isnull().sum()
    col_dtype = df[col].dtype
    print(f"Column '{col}' (dtype: {col_dtype}) has {num_nulls} null values")

Column 'Id' (dtype: int64) has 0 null values
Column 'MSSubClass' (dtype: int64) has 0 null values
Column 'MSZoning' (dtype: object) has 0 null values
Column 'LotFrontage' (dtype: float64) has 259 null values
Column 'LotArea' (dtype: int64) has 0 null values
Column 'Street' (dtype: object) has 0 null values
Column 'Alley' (dtype: object) has 1369 null values
Column 'LotShape' (dtype: object) has 0 null values
Column 'LandContour' (dtype: object) has 0 null values
Column 'Utilities' (dtype: object) has 0 null values
Column 'LotConfig' (dtype: object) has 0 null values
Column 'LandSlope' (dtype: object) has 0 null values
Column 'Neighborhood' (dtype: object) has 0 null values
Column 'Condition1' (dtype: object) has 0 null values
Column 'Condition2' (dtype: object) has 0 null values
Column 'BldgType' (dtype: object) has 0 null values
Column 'HouseStyle' (dtype: object) has 0 null values
Column 'OverallQual' (dtype: int64) has 0 null values
Column 'OverallCond' (dtype: int64) has 0 null values
Column 'YearBuilt' (dtype: int64) has 0 null values
Column 'YearRemodAdd' (dtype: int64) has 0 null values
Column 'RoofStyle' (dtype: object) has 0 null values
Column 'RoofMatl' (dtype: object) has 0 null values
Column 'Exterior1st' (dtype: object) has 0 null values
Column 'Exterior2nd' (dtype: object) has 0 null values
Column 'MasVnrType' (dtype: object) has 872 null values
Column 'MasVnrArea' (dtype: float64) has 8 null values
Column 'ExterQual' (dtype: object) has 0 null values
Column 'ExterCond' (dtype: object) has 0 null values
Column 'Foundation' (dtype: object) has 0 null values
Column 'BsmtQual' (dtype: object) has 37 null values
Column 'BsmtCond' (dtype: object) has 37 null values
Column 'BsmtExposure' (dtype: object) has 38 null values
Column 'BsmtFinType1' (dtype: object) has 37 null values
Column 'BsmtFinSF1' (dtype: int64) has 0 null values
Column 'BsmtFinType2' (dtype: object) has 38 null values
Column 'BsmtFinSF2' (dtype: int64) has 0 null values
Column 'BsmtUnfSF' (dtype: int64) has 0 null values
Column 'TotalBsmtSF' (dtype: int64) has 0 null values
Column 'Heating' (dtype: object) has 0 null values
Column 'HeatingQC' (dtype: object) has 0 null values
Column 'CentralAir' (dtype: object) has 0 null values
Column 'Electrical' (dtype: object) has 1 null values
Column '1stFlrSF' (dtype: int64) has 0 null values
Column '2ndFlrSF' (dtype: int64) has 0 null values
Column 'LowQualFinSF' (dtype: int64) has 0 null values
Column 'GrLivArea' (dtype: int64) has 0 null values
Column 'BsmtFullBath' (dtype: int64) has 0 null values
Column 'BsmtHalfBath' (dtype: int64) has 0 null values
Column 'FullBath' (dtype: int64) has 0 null values
Column 'HalfBath' (dtype: int64) has 0 null values
Column 'BedroomAbvGr' (dtype: int64) has 0 null values
Column 'KitchenAbvGr' (dtype: int64) has 0 null values
Column 'KitchenQual' (dtype: object) has 0 null values
Column 'TotRmsAbvGrd' (dtype: int64) has 0 null values
Column 'Functional' (dtype: object) has 0 null values
Column 'Fireplaces' (dtype: int64) has 0 null values
Column 'FireplaceQu' (dtype: object) has 690 null values
Column 'GarageType' (dtype: object) has 81 null values
Column 'GarageYrBlt' (dtype: float64) has 81 null values
Column 'GarageFinish' (dtype: object) has 81 null values
Column 'GarageCars' (dtype: int64) has 0 null values
Column 'GarageArea' (dtype: int64) has 0 null values
Column 'GarageQual' (dtype: object) has 81 null values
Column 'GarageCond' (dtype: object) has 81 null values
Column 'PavedDrive' (dtype: object) has 0 null values
Column 'WoodDeckSF' (dtype: int64) has 0 null values
Column 'OpenPorchSF' (dtype: int64) has 0 null values
Column 'EnclosedPorch' (dtype: int64) has 0 null values
Column '3SsnPorch' (dtype: int64) has 0 null values
Column 'ScreenPorch' (dtype: int64) has 0 null values
Column 'PoolArea' (dtype: int64) has 0 null values
Column 'PoolQC' (dtype: object) has 1453 null values
Column 'Fence' (dtype: object) has 1179 null values
Column 'MiscFeature' (dtype: object) has 1406 null values
Column 'MiscVal' (dtype: int64) has 0 null values
Column 'MoSold' (dtype: int64) has 0 null values
Column 'YrSold' (dtype: int64) has 0 null values
Column 'SaleType' (dtype: object) has 0 null values
Column 'SaleCondition' (dtype: object) has 0 null values
Column 'SalePrice' (dtype: int64) has 0 null values

In [ ]:
# test
for col in df_test.columns:
    num_nulls = df_test[col].isnull().sum()
    col_dtype = df_test[col].dtype
    print(f"Column '{col}' (dtype: {col_dtype}) has {num_nulls} null values")

Column 'Id' (dtype: int64) has 0 null values
Column 'MSSubClass' (dtype: int64) has 0 null values
Column 'MSZoning' (dtype: object) has 4 null values
Column 'LotFrontage' (dtype: float64) has 227 null values
Column 'LotArea' (dtype: int64) has 0 null values
Column 'Street' (dtype: object) has 0 null values
Column 'Alley' (dtype: object) has 1352 null values
Column 'LotShape' (dtype: object) has 0 null values
Column 'LandContour' (dtype: object) has 0 null values
Column 'Utilities' (dtype: object) has 2 null values
Column 'LotConfig' (dtype: object) has 0 null values
Column 'LandSlope' (dtype: object) has 0 null values
Column 'Neighborhood' (dtype: object) has 0 null values
Column 'Condition1' (dtype: object) has 0 null values
Column 'Condition2' (dtype: object) has 0 null values
Column 'BldgType' (dtype: object) has 0 null values
Column 'HouseStyle' (dtype: object) has 0 null values
Column 'OverallQual' (dtype: int64) has 0 null values
Column 'OverallCond' (dtype: int64) has 0 null values
Column 'YearBuilt' (dtype: int64) has 0 null values
Column 'YearRemodAdd' (dtype: int64) has 0 null values
Column 'RoofStyle' (dtype: object) has 0 null values
Column 'RoofMatl' (dtype: object) has 0 null values
Column 'Exterior1st' (dtype: object) has 1 null values
Column 'Exterior2nd' (dtype: object) has 1 null values
Column 'MasVnrType' (dtype: object) has 894 null values
Column 'MasVnrArea' (dtype: float64) has 15 null values
Column 'ExterQual' (dtype: object) has 0 null values
Column 'ExterCond' (dtype: object) has 0 null values
Column 'Foundation' (dtype: object) has 0 null values
Column 'BsmtQual' (dtype: object) has 44 null values
Column 'BsmtCond' (dtype: object) has 45 null values
Column 'BsmtExposure' (dtype: object) has 44 null values
Column 'BsmtFinType1' (dtype: object) has 42 null values
Column 'BsmtFinSF1' (dtype: float64) has 1 null values
Column 'BsmtFinType2' (dtype: object) has 42 null values
Column 'BsmtFinSF2' (dtype: float64) has 1 null values
Column 'BsmtUnfSF' (dtype: float64) has 1 null values
Column 'TotalBsmtSF' (dtype: float64) has 1 null values
Column 'Heating' (dtype: object) has 0 null values
Column 'HeatingQC' (dtype: object) has 0 null values
Column 'CentralAir' (dtype: object) has 0 null values
Column 'Electrical' (dtype: object) has 0 null values
Column '1stFlrSF' (dtype: int64) has 0 null values
Column '2ndFlrSF' (dtype: int64) has 0 null values
Column 'LowQualFinSF' (dtype: int64) has 0 null values
Column 'GrLivArea' (dtype: int64) has 0 null values
Column 'BsmtFullBath' (dtype: float64) has 2 null values
Column 'BsmtHalfBath' (dtype: float64) has 2 null values
Column 'FullBath' (dtype: int64) has 0 null values
Column 'HalfBath' (dtype: int64) has 0 null values
Column 'BedroomAbvGr' (dtype: int64) has 0 null values
Column 'KitchenAbvGr' (dtype: int64) has 0 null values
Column 'KitchenQual' (dtype: object) has 1 null values
Column 'TotRmsAbvGrd' (dtype: int64) has 0 null values
Column 'Functional' (dtype: object) has 2 null values
Column 'Fireplaces' (dtype: int64) has 0 null values
Column 'FireplaceQu' (dtype: object) has 730 null values
Column 'GarageType' (dtype: object) has 76 null values
Column 'GarageYrBlt' (dtype: float64) has 78 null values
Column 'GarageFinish' (dtype: object) has 78 null values
Column 'GarageCars' (dtype: float64) has 1 null values
Column 'GarageArea' (dtype: float64) has 1 null values
Column 'GarageQual' (dtype: object) has 78 null values
Column 'GarageCond' (dtype: object) has 78 null values
Column 'PavedDrive' (dtype: object) has 0 null values
Column 'WoodDeckSF' (dtype: int64) has 0 null values
Column 'OpenPorchSF' (dtype: int64) has 0 null values
Column 'EnclosedPorch' (dtype: int64) has 0 null values
Column '3SsnPorch' (dtype: int64) has 0 null values
Column 'ScreenPorch' (dtype: int64) has 0 null values
Column 'PoolArea' (dtype: int64) has 0 null values
Column 'PoolQC' (dtype: object) has 1456 null values
Column 'Fence' (dtype: object) has 1169 null values
Column 'MiscFeature' (dtype: object) has 1408 null values
Column 'MiscVal' (dtype: int64) has 0 null values
Column 'MoSold' (dtype: int64) has 0 null values
Column 'YrSold' (dtype: int64) has 0 null values
Column 'SaleType' (dtype: object) has 1 null values
Column 'SaleCondition' (dtype: object) has 0 null values

In [ ]:
for col in df.columns:
    num_nulls = df[col].isnull().sum()
    unique_vals = df[col].head()
    col_dtype = df[col].dtype
    print(f"Column '{col}' (dtype: {col_dtype}) has {num_nulls} null values, {len(unique_vals)} unique values: {unique_vals}")
    print()

Column 'Id' (dtype: int64) has 0 null values, 5 unique values: 0    1
1    2
2    3
3    4
4    5
Name: Id, dtype: int64

Column 'MSSubClass' (dtype: int64) has 0 null values, 5 unique values: 0    60
1    20
2    60
3    70
4    60
Name: MSSubClass, dtype: int64

Column 'MSZoning' (dtype: object) has 0 null values, 5 unique values: 0    RL
1    RL
2    RL
3    RL
4    RL
Name: MSZoning, dtype: object

Column 'LotFrontage' (dtype: float64) has 0 null values, 5 unique values: 0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
Name: LotFrontage, dtype: float64

Column 'LotArea' (dtype: int64) has 0 null values, 5 unique values: 0     8450
1     9600
2    11250
3     9550
4    14260
Name: LotArea, dtype: int64

Column 'Street' (dtype: object) has 0 null values, 5 unique values: 0    Pave
1    Pave
2    Pave
3    Pave
4    Pave
Name: Street, dtype: object

Column 'Alley' (dtype: object) has 0 null values, 5 unique values: 0    None
1    None
2    None
3    None
4    None
Name: Alley, dtype: object

Column 'LotShape' (dtype: object) has 0 null values, 5 unique values: 0    Reg
1    Reg
2    IR1
3    IR1
4    IR1
Name: LotShape, dtype: object

Column 'LandContour' (dtype: object) has 0 null values, 5 unique values: 0    Lvl
1    Lvl
2    Lvl
3    Lvl
4    Lvl
Name: LandContour, dtype: object

Column 'Utilities' (dtype: object) has 0 null values, 5 unique values: 0    AllPub
1    AllPub
2    AllPub
3    AllPub
4    AllPub
Name: Utilities, dtype: object

Column 'LotConfig' (dtype: object) has 0 null values, 5 unique values: 0    Inside
1       FR2
2    Inside
3    Corner
4       FR2
Name: LotConfig, dtype: object

Column 'LandSlope' (dtype: object) has 0 null values, 5 unique values: 0    Gtl
1    Gtl
2    Gtl
3    Gtl
4    Gtl
Name: LandSlope, dtype: object

Column 'Neighborhood' (dtype: object) has 0 null values, 5 unique values: 0    CollgCr
1    Veenker
2    CollgCr
3    Crawfor
4    NoRidge
Name: Neighborhood, dtype: object

Column 'Condition1' (dtype: object) has 0 null values, 5 unique values: 0     Norm
1    Feedr
2     Norm
3     Norm
4     Norm
Name: Condition1, dtype: object

Column 'Condition2' (dtype: object) has 0 null values, 5 unique values: 0    Norm
1    Norm
2    Norm
3    Norm
4    Norm
Name: Condition2, dtype: object

Column 'BldgType' (dtype: object) has 0 null values, 5 unique values: 0    1Fam
1    1Fam
2    1Fam
3    1Fam
4    1Fam
Name: BldgType, dtype: object

Column 'HouseStyle' (dtype: object) has 0 null values, 5 unique values: 0    2Story
1    1Story
2    2Story
3    2Story
4    2Story
Name: HouseStyle, dtype: object

Column 'OverallQual' (dtype: int64) has 0 null values, 5 unique values: 0    7
1    6
2    7
3    7
4    8
Name: OverallQual, dtype: int64

Column 'OverallCond' (dtype: int64) has 0 null values, 5 unique values: 0    5
1    8
2    5
3    5
4    5
Name: OverallCond, dtype: int64

Column 'YearBuilt' (dtype: int64) has 0 null values, 5 unique values: 0    2003
1    1976
2    2001
3    1915
4    2000
Name: YearBuilt, dtype: int64

Column 'YearRemodAdd' (dtype: int64) has 0 null values, 5 unique values: 0    2003
1    1976
2    2002
3    1970
4    2000
Name: YearRemodAdd, dtype: int64

Column 'RoofStyle' (dtype: object) has 0 null values, 5 unique values: 0    Gable
1    Gable
2    Gable
3    Gable
4    Gable
Name: RoofStyle, dtype: object

Column 'RoofMatl' (dtype: object) has 0 null values, 5 unique values: 0    CompShg
1    CompShg
2    CompShg
3    CompShg
4    CompShg
Name: RoofMatl, dtype: object

Column 'Exterior1st' (dtype: object) has 0 null values, 5 unique values: 0    VinylSd
1    MetalSd
2    VinylSd
3    Wd Sdng
4    VinylSd
Name: Exterior1st, dtype: object

Column 'Exterior2nd' (dtype: object) has 0 null values, 5 unique values: 0    VinylSd
1    MetalSd
2    VinylSd
3    Wd Shng
4    VinylSd
Name: Exterior2nd, dtype: object

Column 'MasVnrType' (dtype: object) has 0 null values, 5 unique values: 0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
Name: MasVnrType, dtype: object

Column 'MasVnrArea' (dtype: float64) has 0 null values, 5 unique values: 0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
Name: MasVnrArea, dtype: float64

Column 'ExterQual' (dtype: object) has 0 null values, 5 unique values: 0    Gd
1    TA
2    Gd
3    TA
4    Gd
Name: ExterQual, dtype: object

Column 'ExterCond' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: ExterCond, dtype: object

Column 'Foundation' (dtype: object) has 0 null values, 5 unique values: 0     PConc
1    CBlock
2     PConc
3    BrkTil
4     PConc
Name: Foundation, dtype: object

Column 'BsmtQual' (dtype: object) has 0 null values, 5 unique values: 0    Gd
1    Gd
2    Gd
3    TA
4    Gd
Name: BsmtQual, dtype: object

Column 'BsmtCond' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    TA
3    Gd
4    TA
Name: BsmtCond, dtype: object

Column 'BsmtExposure' (dtype: object) has 0 null values, 5 unique values: 0    No
1    Gd
2    Mn
3    No
4    Av
Name: BsmtExposure, dtype: object

Column 'BsmtFinType1' (dtype: object) has 0 null values, 5 unique values: 0    GLQ
1    ALQ
2    GLQ
3    ALQ
4    GLQ
Name: BsmtFinType1, dtype: object

Column 'BsmtFinSF1' (dtype: int64) has 0 null values, 5 unique values: 0    706
1    978
2    486
3    216
4    655
Name: BsmtFinSF1, dtype: int64

Column 'BsmtFinType2' (dtype: object) has 0 null values, 5 unique values: 0    Unf
1    Unf
2    Unf
3    Unf
4    Unf
Name: BsmtFinType2, dtype: object

Column 'BsmtFinSF2' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: BsmtFinSF2, dtype: int64

Column 'BsmtUnfSF' (dtype: int64) has 0 null values, 5 unique values: 0    150
1    284
2    434
3    540
4    490
Name: BsmtUnfSF, dtype: int64

Column 'TotalBsmtSF' (dtype: int64) has 0 null values, 5 unique values: 0     856
1    1262
2     920
3     756
4    1145
Name: TotalBsmtSF, dtype: int64

Column 'Heating' (dtype: object) has 0 null values, 5 unique values: 0    GasA
1    GasA
2    GasA
3    GasA
4    GasA
Name: Heating, dtype: object

Column 'HeatingQC' (dtype: object) has 0 null values, 5 unique values: 0    Ex
1    Ex
2    Ex
3    Gd
4    Ex
Name: HeatingQC, dtype: object

Column 'CentralAir' (dtype: object) has 0 null values, 5 unique values: 0    Y
1    Y
2    Y
3    Y
4    Y
Name: CentralAir, dtype: object

Column 'Electrical' (dtype: object) has 0 null values, 5 unique values: 0    SBrkr
1    SBrkr
2    SBrkr
3    SBrkr
4    SBrkr
Name: Electrical, dtype: object

Column '1stFlrSF' (dtype: int64) has 0 null values, 5 unique values: 0     856
1    1262
2     920
3     961
4    1145
Name: 1stFlrSF, dtype: int64

Column '2ndFlrSF' (dtype: int64) has 0 null values, 5 unique values: 0     854
1       0
2     866
3     756
4    1053
Name: 2ndFlrSF, dtype: int64

Column 'LowQualFinSF' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: LowQualFinSF, dtype: int64

Column 'GrLivArea' (dtype: int64) has 0 null values, 5 unique values: 0    1710
1    1262
2    1786
3    1717
4    2198
Name: GrLivArea, dtype: int64

Column 'BsmtFullBath' (dtype: int64) has 0 null values, 5 unique values: 0    1
1    0
2    1
3    1
4    1
Name: BsmtFullBath, dtype: int64

Column 'BsmtHalfBath' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    1
2    0
3    0
4    0
Name: BsmtHalfBath, dtype: int64

Column 'FullBath' (dtype: int64) has 0 null values, 5 unique values: 0    2
1    2
2    2
3    1
4    2
Name: FullBath, dtype: int64

Column 'HalfBath' (dtype: int64) has 0 null values, 5 unique values: 0    1
1    0
2    1
3    0
4    1
Name: HalfBath, dtype: int64

Column 'BedroomAbvGr' (dtype: int64) has 0 null values, 5 unique values: 0    3
1    3
2    3
3    3
4    4
Name: BedroomAbvGr, dtype: int64

Column 'KitchenAbvGr' (dtype: int64) has 0 null values, 5 unique values: 0    1
1    1
2    1
3    1
4    1
Name: KitchenAbvGr, dtype: int64

Column 'KitchenQual' (dtype: object) has 0 null values, 5 unique values: 0    Gd
1    TA
2    Gd
3    Gd
4    Gd
Name: KitchenQual, dtype: object

Column 'TotRmsAbvGrd' (dtype: int64) has 0 null values, 5 unique values: 0    8
1    6
2    6
3    7
4    9
Name: TotRmsAbvGrd, dtype: int64

Column 'Functional' (dtype: object) has 0 null values, 5 unique values: 0    Typ
1    Typ
2    Typ
3    Typ
4    Typ
Name: Functional, dtype: object

Column 'Fireplaces' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    1
2    1
3    1
4    1
Name: Fireplaces, dtype: int64

Column 'FireplaceQu' (dtype: object) has 0 null values, 5 unique values: 0    None
1      TA
2      TA
3      Gd
4      TA
Name: FireplaceQu, dtype: object

Column 'GarageType' (dtype: object) has 0 null values, 5 unique values: 0    Attchd
1    Attchd
2    Attchd
3    Detchd
4    Attchd
Name: GarageType, dtype: object

Column 'GarageYrBlt' (dtype: float64) has 0 null values, 5 unique values: 0    2003.0
1    1976.0
2    2001.0
3    1998.0
4    2000.0
Name: GarageYrBlt, dtype: float64

Column 'GarageFinish' (dtype: object) has 0 null values, 5 unique values: 0    RFn
1    RFn
2    RFn
3    Unf
4    RFn
Name: GarageFinish, dtype: object

Column 'GarageCars' (dtype: int64) has 0 null values, 5 unique values: 0    2
1    2
2    2
3    3
4    3
Name: GarageCars, dtype: int64

Column 'GarageArea' (dtype: int64) has 0 null values, 5 unique values: 0    548
1    460
2    608
3    642
4    836
Name: GarageArea, dtype: int64

Column 'GarageQual' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: GarageQual, dtype: object

Column 'GarageCond' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: GarageCond, dtype: object

Column 'PavedDrive' (dtype: object) has 0 null values, 5 unique values: 0    Y
1    Y
2    Y
3    Y
4    Y
Name: PavedDrive, dtype: object

Column 'WoodDeckSF' (dtype: int64) has 0 null values, 5 unique values: 0      0
1    298
2      0
3      0
4    192
Name: WoodDeckSF, dtype: int64

Column 'OpenPorchSF' (dtype: int64) has 0 null values, 5 unique values: 0    61
1     0
2    42
3    35
4    84
Name: OpenPorchSF, dtype: int64

Column 'EnclosedPorch' (dtype: int64) has 0 null values, 5 unique values: 0      0
1      0
2      0
3    272
4      0
Name: EnclosedPorch, dtype: int64

Column '3SsnPorch' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: 3SsnPorch, dtype: int64

Column 'ScreenPorch' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: ScreenPorch, dtype: int64

Column 'PoolArea' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: PoolArea, dtype: int64

Column 'PoolQC' (dtype: object) has 0 null values, 5 unique values: 0    None
1    None
2    None
3    None
4    None
Name: PoolQC, dtype: object

Column 'Fence' (dtype: object) has 0 null values, 5 unique values: 0    None
1    None
2    None
3    None
4    None
Name: Fence, dtype: object

Column 'MiscFeature' (dtype: object) has 0 null values, 5 unique values: 0    None
1    None
2    None
3    None
4    None
Name: MiscFeature, dtype: object

Column 'MiscVal' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: MiscVal, dtype: int64

Column 'MoSold' (dtype: int64) has 0 null values, 5 unique values: 0     2
1     5
2     9
3     2
4    12
Name: MoSold, dtype: int64

Column 'YrSold' (dtype: int64) has 0 null values, 5 unique values: 0    2008
1    2007
2    2008
3    2006
4    2008
Name: YrSold, dtype: int64

Column 'SaleType' (dtype: object) has 0 null values, 5 unique values: 0    WD
1    WD
2    WD
3    WD
4    WD
Name: SaleType, dtype: object

Column 'SaleCondition' (dtype: object) has 0 null values, 5 unique values: 0     Normal
1     Normal
2     Normal
3    Abnorml
4     Normal
Name: SaleCondition, dtype: object

Column 'SalePrice' (dtype: int64) has 0 null values, 5 unique values: 0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [ ]:
for col in df_test.columns:
    num_nulls = df_test[col].isnull().sum()
    unique_vals = df_test[col].head()
    col_dtype = df_test[col].dtype
    print(f"Column '{col}' (dtype: {col_dtype}) has {num_nulls} null values, {len(unique_vals)} unique values: {unique_vals}")
    print()

Column 'Id' (dtype: int64) has 0 null values, 5 unique values: 0    1461
1    1462
2    1463
3    1464
4    1465
Name: Id, dtype: int64

Column 'MSSubClass' (dtype: int64) has 0 null values, 5 unique values: 0     20
1     20
2     60
3     60
4    120
Name: MSSubClass, dtype: int64

Column 'MSZoning' (dtype: object) has 4 null values, 5 unique values: 0    RH
1    RL
2    RL
3    RL
4    RL
Name: MSZoning, dtype: object

Column 'LotFrontage' (dtype: float64) has 227 null values, 5 unique values: 0    80.0
1    81.0
2    74.0
3    78.0
4    43.0
Name: LotFrontage, dtype: float64

Column 'LotArea' (dtype: int64) has 0 null values, 5 unique values: 0    11622
1    14267
2    13830
3     9978
4     5005
Name: LotArea, dtype: int64

Column 'Street' (dtype: object) has 0 null values, 5 unique values: 0    Pave
1    Pave
2    Pave
3    Pave
4    Pave
Name: Street, dtype: object

Column 'Alley' (dtype: object) has 1352 null values, 5 unique values: 0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Alley, dtype: object

Column 'LotShape' (dtype: object) has 0 null values, 5 unique values: 0    Reg
1    IR1
2    IR1
3    IR1
4    IR1
Name: LotShape, dtype: object

Column 'LandContour' (dtype: object) has 0 null values, 5 unique values: 0    Lvl
1    Lvl
2    Lvl
3    Lvl
4    HLS
Name: LandContour, dtype: object

Column 'Utilities' (dtype: object) has 2 null values, 5 unique values: 0    AllPub
1    AllPub
2    AllPub
3    AllPub
4    AllPub
Name: Utilities, dtype: object

Column 'LotConfig' (dtype: object) has 0 null values, 5 unique values: 0    Inside
1    Corner
2    Inside
3    Inside
4    Inside
Name: LotConfig, dtype: object

Column 'LandSlope' (dtype: object) has 0 null values, 5 unique values: 0    Gtl
1    Gtl
2    Gtl
3    Gtl
4    Gtl
Name: LandSlope, dtype: object

Column 'Neighborhood' (dtype: object) has 0 null values, 5 unique values: 0      NAmes
1      NAmes
2    Gilbert
3    Gilbert
4    StoneBr
Name: Neighborhood, dtype: object

Column 'Condition1' (dtype: object) has 0 null values, 5 unique values: 0    Feedr
1     Norm
2     Norm
3     Norm
4     Norm
Name: Condition1, dtype: object

Column 'Condition2' (dtype: object) has 0 null values, 5 unique values: 0    Norm
1    Norm
2    Norm
3    Norm
4    Norm
Name: Condition2, dtype: object

Column 'BldgType' (dtype: object) has 0 null values, 5 unique values: 0      1Fam
1      1Fam
2      1Fam
3      1Fam
4    TwnhsE
Name: BldgType, dtype: object

Column 'HouseStyle' (dtype: object) has 0 null values, 5 unique values: 0    1Story
1    1Story
2    2Story
3    2Story
4    1Story
Name: HouseStyle, dtype: object

Column 'OverallQual' (dtype: int64) has 0 null values, 5 unique values: 0    5
1    6
2    5
3    6
4    8
Name: OverallQual, dtype: int64

Column 'OverallCond' (dtype: int64) has 0 null values, 5 unique values: 0    6
1    6
2    5
3    6
4    5
Name: OverallCond, dtype: int64

Column 'YearBuilt' (dtype: int64) has 0 null values, 5 unique values: 0    1961
1    1958
2    1997
3    1998
4    1992
Name: YearBuilt, dtype: int64

Column 'YearRemodAdd' (dtype: int64) has 0 null values, 5 unique values: 0    1961
1    1958
2    1998
3    1998
4    1992
Name: YearRemodAdd, dtype: int64

Column 'RoofStyle' (dtype: object) has 0 null values, 5 unique values: 0    Gable
1      Hip
2    Gable
3    Gable
4    Gable
Name: RoofStyle, dtype: object

Column 'RoofMatl' (dtype: object) has 0 null values, 5 unique values: 0    CompShg
1    CompShg
2    CompShg
3    CompShg
4    CompShg
Name: RoofMatl, dtype: object

Column 'Exterior1st' (dtype: object) has 1 null values, 5 unique values: 0    VinylSd
1    Wd Sdng
2    VinylSd
3    VinylSd
4    HdBoard
Name: Exterior1st, dtype: object

Column 'Exterior2nd' (dtype: object) has 1 null values, 5 unique values: 0    VinylSd
1    Wd Sdng
2    VinylSd
3    VinylSd
4    HdBoard
Name: Exterior2nd, dtype: object

Column 'MasVnrType' (dtype: object) has 894 null values, 5 unique values: 0        NaN
1    BrkFace
2        NaN
3    BrkFace
4        NaN
Name: MasVnrType, dtype: object

Column 'MasVnrArea' (dtype: float64) has 15 null values, 5 unique values: 0      0.0
1    108.0
2      0.0
3     20.0
4      0.0
Name: MasVnrArea, dtype: float64

Column 'ExterQual' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    Gd
Name: ExterQual, dtype: object

Column 'ExterCond' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: ExterCond, dtype: object

Column 'Foundation' (dtype: object) has 0 null values, 5 unique values: 0    CBlock
1    CBlock
2     PConc
3     PConc
4     PConc
Name: Foundation, dtype: object

Column 'BsmtQual' (dtype: object) has 44 null values, 5 unique values: 0    TA
1    TA
2    Gd
3    TA
4    Gd
Name: BsmtQual, dtype: object

Column 'BsmtCond' (dtype: object) has 45 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: BsmtCond, dtype: object

Column 'BsmtExposure' (dtype: object) has 44 null values, 5 unique values: 0    No
1    No
2    No
3    No
4    No
Name: BsmtExposure, dtype: object

Column 'BsmtFinType1' (dtype: object) has 42 null values, 5 unique values: 0    Rec
1    ALQ
2    GLQ
3    GLQ
4    ALQ
Name: BsmtFinType1, dtype: object

Column 'BsmtFinSF1' (dtype: float64) has 1 null values, 5 unique values: 0    468.0
1    923.0
2    791.0
3    602.0
4    263.0
Name: BsmtFinSF1, dtype: float64

Column 'BsmtFinType2' (dtype: object) has 42 null values, 5 unique values: 0    LwQ
1    Unf
2    Unf
3    Unf
4    Unf
Name: BsmtFinType2, dtype: object

Column 'BsmtFinSF2' (dtype: float64) has 1 null values, 5 unique values: 0    144.0
1      0.0
2      0.0
3      0.0
4      0.0
Name: BsmtFinSF2, dtype: float64

Column 'BsmtUnfSF' (dtype: float64) has 1 null values, 5 unique values: 0     270.0
1     406.0
2     137.0
3     324.0
4    1017.0
Name: BsmtUnfSF, dtype: float64

Column 'TotalBsmtSF' (dtype: float64) has 1 null values, 5 unique values: 0     882.0
1    1329.0
2     928.0
3     926.0
4    1280.0
Name: TotalBsmtSF, dtype: float64

Column 'Heating' (dtype: object) has 0 null values, 5 unique values: 0    GasA
1    GasA
2    GasA
3    GasA
4    GasA
Name: Heating, dtype: object

Column 'HeatingQC' (dtype: object) has 0 null values, 5 unique values: 0    TA
1    TA
2    Gd
3    Ex
4    Ex
Name: HeatingQC, dtype: object

Column 'CentralAir' (dtype: object) has 0 null values, 5 unique values: 0    Y
1    Y
2    Y
3    Y
4    Y
Name: CentralAir, dtype: object

Column 'Electrical' (dtype: object) has 0 null values, 5 unique values: 0    SBrkr
1    SBrkr
2    SBrkr
3    SBrkr
4    SBrkr
Name: Electrical, dtype: object

Column '1stFlrSF' (dtype: int64) has 0 null values, 5 unique values: 0     896
1    1329
2     928
3     926
4    1280
Name: 1stFlrSF, dtype: int64

Column '2ndFlrSF' (dtype: int64) has 0 null values, 5 unique values: 0      0
1      0
2    701
3    678
4      0
Name: 2ndFlrSF, dtype: int64

Column 'LowQualFinSF' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: LowQualFinSF, dtype: int64

Column 'GrLivArea' (dtype: int64) has 0 null values, 5 unique values: 0     896
1    1329
2    1629
3    1604
4    1280
Name: GrLivArea, dtype: int64

Column 'BsmtFullBath' (dtype: float64) has 2 null values, 5 unique values: 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: BsmtFullBath, dtype: float64

Column 'BsmtHalfBath' (dtype: float64) has 2 null values, 5 unique values: 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: BsmtHalfBath, dtype: float64

Column 'FullBath' (dtype: int64) has 0 null values, 5 unique values: 0    1
1    1
2    2
3    2
4    2
Name: FullBath, dtype: int64

Column 'HalfBath' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    1
2    1
3    1
4    0
Name: HalfBath, dtype: int64

Column 'BedroomAbvGr' (dtype: int64) has 0 null values, 5 unique values: 0    2
1    3
2    3
3    3
4    2
Name: BedroomAbvGr, dtype: int64

Column 'KitchenAbvGr' (dtype: int64) has 0 null values, 5 unique values: 0    1
1    1
2    1
3    1
4    1
Name: KitchenAbvGr, dtype: int64

Column 'KitchenQual' (dtype: object) has 1 null values, 5 unique values: 0    TA
1    Gd
2    TA
3    Gd
4    Gd
Name: KitchenQual, dtype: object

Column 'TotRmsAbvGrd' (dtype: int64) has 0 null values, 5 unique values: 0    5
1    6
2    6
3    7
4    5
Name: TotRmsAbvGrd, dtype: int64

Column 'Functional' (dtype: object) has 2 null values, 5 unique values: 0    Typ
1    Typ
2    Typ
3    Typ
4    Typ
Name: Functional, dtype: object

Column 'Fireplaces' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    1
3    1
4    0
Name: Fireplaces, dtype: int64

Column 'FireplaceQu' (dtype: object) has 730 null values, 5 unique values: 0    NaN
1    NaN
2     TA
3     Gd
4    NaN
Name: FireplaceQu, dtype: object

Column 'GarageType' (dtype: object) has 76 null values, 5 unique values: 0    Attchd
1    Attchd
2    Attchd
3    Attchd
4    Attchd
Name: GarageType, dtype: object

Column 'GarageYrBlt' (dtype: float64) has 78 null values, 5 unique values: 0    1961.0
1    1958.0
2    1997.0
3    1998.0
4    1992.0
Name: GarageYrBlt, dtype: float64

Column 'GarageFinish' (dtype: object) has 78 null values, 5 unique values: 0    Unf
1    Unf
2    Fin
3    Fin
4    RFn
Name: GarageFinish, dtype: object

Column 'GarageCars' (dtype: float64) has 1 null values, 5 unique values: 0    1.0
1    1.0
2    2.0
3    2.0
4    2.0
Name: GarageCars, dtype: float64

Column 'GarageArea' (dtype: float64) has 1 null values, 5 unique values: 0    730.0
1    312.0
2    482.0
3    470.0
4    506.0
Name: GarageArea, dtype: float64

Column 'GarageQual' (dtype: object) has 78 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: GarageQual, dtype: object

Column 'GarageCond' (dtype: object) has 78 null values, 5 unique values: 0    TA
1    TA
2    TA
3    TA
4    TA
Name: GarageCond, dtype: object

Column 'PavedDrive' (dtype: object) has 0 null values, 5 unique values: 0    Y
1    Y
2    Y
3    Y
4    Y
Name: PavedDrive, dtype: object

Column 'WoodDeckSF' (dtype: int64) has 0 null values, 5 unique values: 0    140
1    393
2    212
3    360
4      0
Name: WoodDeckSF, dtype: int64

Column 'OpenPorchSF' (dtype: int64) has 0 null values, 5 unique values: 0     0
1    36
2    34
3    36
4    82
Name: OpenPorchSF, dtype: int64

Column 'EnclosedPorch' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: EnclosedPorch, dtype: int64

Column '3SsnPorch' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: 3SsnPorch, dtype: int64

Column 'ScreenPorch' (dtype: int64) has 0 null values, 5 unique values: 0    120
1      0
2      0
3      0
4    144
Name: ScreenPorch, dtype: int64

Column 'PoolArea' (dtype: int64) has 0 null values, 5 unique values: 0    0
1    0
2    0
3    0
4    0
Name: PoolArea, dtype: int64

Column 'PoolQC' (dtype: object) has 1456 null values, 5 unique values: 0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: PoolQC, dtype: object

Column 'Fence' (dtype: object) has 1169 null values, 5 unique values: 0    MnPrv
1      NaN
2    MnPrv
3      NaN
4      NaN
Name: Fence, dtype: object

Column 'MiscFeature' (dtype: object) has 1408 null values, 5 unique values: 0     NaN
1    Gar2
2     NaN
3     NaN
4     NaN
Name: MiscFeature, dtype: object

Column 'MiscVal' (dtype: int64) has 0 null values, 5 unique values: 0        0
1    12500
2        0
3        0
4        0
Name: MiscVal, dtype: int64

Column 'MoSold' (dtype: int64) has 0 null values, 5 unique values: 0    6
1    6
2    3
3    6
4    1
Name: MoSold, dtype: int64

Column 'YrSold' (dtype: int64) has 0 null values, 5 unique values: 0    2010
1    2010
2    2010
3    2010
4    2010
Name: YrSold, dtype: int64

Column 'SaleType' (dtype: object) has 1 null values, 5 unique values: 0    WD
1    WD
2    WD
3    WD
4    WD
Name: SaleType, dtype: object

Column 'SaleCondition' (dtype: object) has 0 null values, 5 unique values: 0    Normal
1    Normal
2    Normal
3    Normal
4    Normal
Name: SaleCondition, dtype: object

Preprocessing main step

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd

def preprocess_data(df, df_test):
    # Calculate the threshold for missing values
    missing_threshold = 0.4

    # Determine columns with more than 40% missing values
    missing_perc = df_test.isnull().mean()
    cols_to_drop = missing_perc[missing_perc >= missing_threshold].index.tolist()
    print(f"Columns having {missing_perc} with more than {missing_threshold*100}% missing values: {cols_to_drop}")

    # Drop these columns from both datasets
    df = df.drop(columns=cols_to_drop, errors='ignore')
    df_test = df_test.drop(columns=cols_to_drop, errors='ignore')

    # Identify numerical and categorical columns
    numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
    categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

    # Remove the target variable 'SalePrice' from the list of numerical columns
    if 'SalePrice' in numerical_cols:
        numerical_cols.remove('SalePrice')

    # Define preprocessing for numerical and categorical data
    numerical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ])

    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    # Combine numerical and categorical transformers
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_cols),
            ('cat', categorical_transformer, categorical_cols)
        ]
    )

    # Separate features and target
    X = df.drop('SalePrice', axis=1)
    y = df['SalePrice']
    X_test = df_test.copy()

    # Fit the preprocessor on the training data and transform both training and test data
    X_preprocessed = preprocessor.fit_transform(X)
    X_test_preprocessed = preprocessor.transform(X_test)

    return X_preprocessed, y, X_test_preprocessed

Another way of preprocessing

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd

def preprocess_data1(df, df_test, max_unique_values=10):
    # Calculate the threshold for missing values
    missing_threshold = 0.4

    # Determine columns with more than 40% missing values
    missing_perc = df_test.isnull().mean()
    cols_to_drop = missing_perc[missing_perc >= missing_threshold].index.tolist()
    print(f"Columns with more than {missing_threshold*100}% missing values: {cols_to_drop}")

    # Drop these columns from both datasets
    df = df.drop(columns=cols_to_drop, errors='ignore')
    df_test = df_test.drop(columns=cols_to_drop, errors='ignore')

    # Identify numerical and categorical columns
    numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
    categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

    # Analyze numerical columns to identify potential categorical columns
    for col in numerical_cols:
        if df[col].nunique() <= max_unique_values:
            print(f"Numerical column '{col}' is treated as categorical because it has {df[col].nunique()} unique values.")
            categorical_cols.append(col)

    # Remove the target variable 'SalePrice' from the list of numerical columns
    if 'SalePrice' in numerical_cols:
        numerical_cols.remove('SalePrice')

    # Remove columns that are being treated as categorical from numerical columns
    numerical_cols = [col for col in numerical_cols if col not in categorical_cols]

    # Define preprocessing for numerical and categorical data
    numerical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ])

    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    # Combine numerical and categorical transformers
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_cols),
            ('cat', categorical_transformer, categorical_cols)
        ]
    )

    # Separate features and target
    X = df.drop('SalePrice', axis=1)
    y = df['SalePrice']
    X_test = df_test.copy()

    # Fit the preprocessor on the training data and transform both training and test data
    X_preprocessed = preprocessor.fit_transform(X)
    X_test_preprocessed = preprocessor.transform(X_test)

    return X_preprocessed, y, X_test_preprocessed

2nd way, removing cols containing null values

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd

def preprocess_data2(df, df_test):
    # Determine columns with any null values
    cols_with_nulls = df_test.columns[df_test.isnull().any()].tolist()
    print(f"Columns with null values: {cols_with_nulls}")

    # Drop these columns from both datasets
    df = df.drop(columns=cols_with_nulls, errors='ignore')
    df_test = df_test.drop(columns=cols_with_nulls, errors='ignore')

    # Identify numerical and categorical columns
    numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
    categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

    # Remove the target variable 'SalePrice' from the list of numerical columns
    if 'SalePrice' in numerical_cols:
        numerical_cols.remove('SalePrice')

    # Define preprocessing for numerical and categorical data
    numerical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ])

    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    # Combine numerical and categorical transformers
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_cols),
            ('cat', categorical_transformer, categorical_cols)
        ]
    )

    # Separate features and target
    X = df.drop('SalePrice', axis=1)
    y = df['SalePrice']
    X_test = df_test.copy()

    # Fit the preprocessor on the training data and transform both training and test data
    X_preprocessed = preprocessor.fit_transform(X)
    X_test_preprocessed = preprocessor.transform(X_test)

    return X_preprocessed, y, X_test_preprocessed

In [ ]:
X, y, X_test = preprocess_data1(df, df_test)

Columns with more than 40.0% missing values: ['Alley', 'MasVnrType', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']
Numerical column 'OverallQual' is treated as categorical because it has 10 unique values.
Numerical column 'OverallCond' is treated as categorical because it has 9 unique values.
Numerical column 'BsmtFullBath' is treated as categorical because it has 4 unique values.
Numerical column 'BsmtHalfBath' is treated as categorical because it has 3 unique values.
Numerical column 'FullBath' is treated as categorical because it has 4 unique values.
Numerical column 'HalfBath' is treated as categorical because it has 3 unique values.
Numerical column 'BedroomAbvGr' is treated as categorical because it has 8 unique values.
Numerical column 'KitchenAbvGr' is treated as categorical because it has 4 unique values.
Numerical column 'Fireplaces' is treated as categorical because it has 4 unique values.
Numerical column 'GarageCars' is treated as categorical because it has 5 unique values.
Numerical column 'PoolArea' is treated as categorical because it has 8 unique values.
Numerical column 'YrSold' is treated as categorical because it has 5 unique values.

In [ ]:
print(X.shape)
print(y.shape)
print(X_test.shape)

(1460, 322)
(1460,)
(1459, 322)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
import pandas as pd

# Function to train and predict using Random Forest Regressor
def random_forest_regressor(X, y, X_test, df_test, id_column='Id', y_test=None, n_estimators=100, max_depth=None, random_state=42):
    rf_model = RandomForestRegressor(n_estimators=n_estimators, max_depth=max_depth, random_state=random_state)
    rf_model.fit(X, y)
    rf_predictions = rf_model.predict(X_test)


    rf_results = pd.DataFrame({id_column: df_test[id_column], 'SalePrice': rf_predictions})
    return rf_model, rf_results

# Function to train and predict using Elastic Net
def elastic_net_regressor(X, y, X_test, df_test, id_column='Id', y_test=None, alpha=1.0, l1_ratio=0.5, random_state=42):
    enet_model = ElasticNet(alpha=alpha, l1_ratio=l1_ratio, random_state=random_state)
    enet_model.fit(X, y)
    enet_predictions = enet_model.predict(X_test)

    enet_results = pd.DataFrame({id_column: df_test[id_column], 'SalePrice': enet_predictions})
    return enet_model, enet_results

In [ ]:
# Train and predict using both models
print("Random Forest Regression:")
rf_model, rf_predictions_df = random_forest_regressor(X, y, X_test, df_test, id_column='Id')
rf_predictions_df.to_csv('submission.csv', index=False)

Random Forest Regression:

In [ ]:
display(rf_predictions_df)

        Id  SalePrice
0     1461  125471.75
1     1462  150564.50
2     1463  185132.28
3     1464  184755.14
4     1465  188416.27
...    ...        ...
1454  2915   85537.00
1455  2916   86567.50
1456  2917  149017.37
1457  2918  110492.00
1458  2919  241861.03

[1459 rows x 2 columns]

Xgboost

In [ ]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (2.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.26.4)
Collecting nvidia-nccl-cu12 (from xgboost)
  Downloading nvidia_nccl_cu12-2.22.3-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.13.1)
Downloading nvidia_nccl_cu12-2.22.3-py3-none-manylinux2014_x86_64.whl (190.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 190.9/190.9 MB 4.9 MB/s eta 0:00:00
Installing collected packages: nvidia-nccl-cu12
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torch 2.3.1+cu121 requires nvidia-cublas-cu12==12.1.3.1; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cuda-cupti-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cuda-nvrtc-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cuda-runtime-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cudnn-cu12==8.9.2.26; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cufft-cu12==11.0.2.54; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-curand-cu12==10.3.2.106; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cusolver-cu12==11.4.5.107; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-cusparse-cu12==12.1.0.106; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-nvtx-cu12==12.1.105; platform_system == "Linux" and platform_machine == "x86_64", which is not installed.
torch 2.3.1+cu121 requires nvidia-nccl-cu12==2.20.5; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-nccl-cu12 2.22.3 which is incompatible.
Successfully installed nvidia-nccl-cu12-2.22.3

In [ ]:
from xgboost import XGBRegressor
import pandas as pd
from sklearn.metrics import mean_squared_error

def xgboost_regressor(X, y, X_test, df_test, id_column='Id', n_estimators=100, max_depth=None, random_state=42):
    # Initialize and train XGBoost model
    xgb_model = XGBRegressor(n_estimators=n_estimators, max_depth=max_depth, random_state=random_state, objective='reg:squarederror')
    xgb_model.fit(X, y)

    # Make predictions
    xgb_predictions = xgb_model.predict(X_test)

    # Create a DataFrame with test IDs and predictions
    xgb_results = pd.DataFrame({
        id_column: df_test[id_column],
        'SalePrice': xgb_predictions
    })

    # Save predictions to CSV file
    xgb_results.to_csv('submission.csv', index=False)
    print("Predictions saved.")

    return xgb_model, xgb_results

In [ ]:
model, results = xgboost_regressor(X, y, X_test, df_test)

Predictions saved.

tfdf

In [ ]:
!pip install tensorflow_decision_forests

Collecting tensorflow_decision_forests
  Downloading tensorflow_decision_forests-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.0 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (2.1.4)
Collecting tensorflow==2.16.2 (from tensorflow_decision_forests)
  Downloading tensorflow-2.16.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.2 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (1.16.0)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (1.4.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (0.43.0)
Collecting wurlitzer (from tensorflow_decision_forests)
  Downloading wurlitzer-3.1.1-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: tf-keras~=2.16 in /usr/local/lib/python3.10/dist-packages (from tensorflow_decision_forests) (2.17.0)
Collecting ydf (from tensorflow_decision_forests)
  Downloading ydf-0.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.9 kB)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (18.1.1)
Collecting ml-dtypes~=0.3.1 (from tensorflow==2.16.2->tensorflow_decision_forests)
  Downloading ml_dtypes-0.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (20 kB)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (2.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (71.0.4)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (1.64.1)
Collecting tensorboard<2.17,>=2.16 (from tensorflow==2.16.2->tensorflow_decision_forests)
  Downloading tensorboard-2.16.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: keras>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (3.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.2->tensorflow_decision_forests) (0.37.1)
INFO: pip is looking at multiple versions of tf-keras to determine which version is compatible with other requirements. This could take a while.
Collecting tf-keras~=2.16 (from tensorflow_decision_forests)
  Downloading tf_keras-2.16.0-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->tensorflow_decision_forests) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tensorflow_decision_forests) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tensorflow_decision_forests) (2024.1)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.0.0->tensorflow==2.16.2->tensorflow_decision_forests) (13.7.1)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.0.0->tensorflow==2.16.2->tensorflow_decision_forests) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.0.0->tensorflow==2.16.2->tensorflow_decision_forests) (0.12.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.2->tensorflow_decision_forests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.2->tensorflow_decision_forests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.2->tensorflow_decision_forests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.2->tensorflow_decision_forests) (2024.7.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.2->tensorflow_decision_forests) (3.6)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.2->tensorflow_decision_forests) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.2->tensorflow_decision_forests) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow==2.16.2->tensorflow_decision_forests) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.0.0->tensorflow==2.16.2->tensorflow_decision_forests) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.0.0->tensorflow==2.16.2->tensorflow_decision_forests) (2.16.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow==2.16.2->tensorflow_decision_forests) (0.1.2)
Downloading tensorflow_decision_forests-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (15.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.5/15.5 MB 48.4 MB/s eta 0:00:00
Downloading tensorflow-2.16.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (590.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 590.6/590.6 MB 842.4 kB/s eta 0:00:00
Downloading tf_keras-2.16.0-py3-none-any.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 45.6 MB/s eta 0:00:00
Downloading wurlitzer-3.1.1-py3-none-any.whl (8.6 kB)
Downloading ydf-0.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.3/9.3 MB 64.4 MB/s eta 0:00:00
Downloading ml_dtypes-0.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 48.2 MB/s eta 0:00:00
Downloading tensorboard-2.16.2-py3-none-any.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 57.3 MB/s eta 0:00:00
Installing collected packages: ydf, wurlitzer, ml-dtypes, tensorboard, tensorflow, tf-keras, tensorflow_decision_forests
  Attempting uninstall: ml-dtypes
    Found existing installation: ml-dtypes 0.4.0
    Uninstalling ml-dtypes-0.4.0:
      Successfully uninstalled ml-dtypes-0.4.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.17.0
    Uninstalling tensorboard-2.17.0:
      Successfully uninstalled tensorboard-2.17.0
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.17.0
    Uninstalling tensorflow-2.17.0:
      Successfully uninstalled tensorflow-2.17.0
  Attempting uninstall: tf-keras
    Found existing installation: tf_keras 2.17.0
    Uninstalling tf_keras-2.17.0:
      Successfully uninstalled tf_keras-2.17.0
Successfully installed ml-dtypes-0.3.2 tensorboard-2.16.2 tensorflow-2.16.2 tensorflow_decision_forests-1.9.2 tf-keras-2.16.0 wurlitzer-3.1.1 ydf-0.6.0

In [ ]:
import tensorflow_decision_forests as tfdf
import pandas as pd
import tensorflow as tf
import scipy.sparse as sp

def tfdf_regressor(X, y, X_test, df_test, id_column='Id', num_trees=100, batch_size=32):
    # Convert sparse matrices to dense arrays if necessary
    if isinstance(X, (sp.csr_matrix, sp.csc_matrix)):
        X = X.toarray()
    if isinstance(X_test, (sp.csr_matrix, sp.csc_matrix)):
        X_test = X_test.toarray()

    # Convert DataFrames to ensure feature names are valid
    X_df = pd.DataFrame(X)
    X_test_df = pd.DataFrame(X_test)

    # Rename columns to ensure no empty names
    X_df.columns = [f'feature_{i}' for i in range(X_df.shape[1])]
    X_test_df.columns = [f'feature_{i}' for i in range(X_test_df.shape[1])]

    # Convert DataFrames to dictionaries of features
    train_features = {col: tf.convert_to_tensor(X_df[col].values, dtype=tf.float32) for col in X_df.columns}
    test_features = {col: tf.convert_to_tensor(X_test_df[col].values, dtype=tf.float32) for col in X_test_df.columns}

    # Convert y to TensorFlow tensor
    y_tensor = tf.convert_to_tensor(y.values, dtype=tf.float32)

    # Convert DataFrames to TensorFlow Datasets
    train_data = tf.data.Dataset.from_tensor_slices((train_features, y_tensor))
    test_data = tf.data.Dataset.from_tensor_slices(test_features)

    # Batch the datasets
    train_data = train_data.batch(batch_size)
    test_data = test_data.batch(batch_size)

    # Create a TF-DF RandomForest model
    model = tfdf.keras.RandomForestModel(task=tfdf.keras.Task.REGRESSION, num_trees=num_trees)

    # Train the model
    model.fit(train_data)

    # Make predictions
    predictions = model.predict(test_data)

    # Convert predictions to a DataFrame
    predictions_df = pd.DataFrame({
        id_column: df_test[id_column],
        'SalePrice': predictions.flatten()  # Flatten the predictions if necessary
    })

    # Save predictions to CSV file
    predictions_df.to_csv('submission.csv', index=False)
    print("Predictions saved.")

    return model, predictions_df

In [ ]:
model, results = tfdf_regressor(X, y, X_test, df_test)

Use /tmp/tmpsq3ax9i2 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:11.445761. Found 1460 examples.
Training model...
Model trained in 0:00:10.609631
Compiling model...
Model compiled.
46/46 [==============================] - 2s 33ms/step
Predictions saved.

In [ ]:
import matplotlib.pyplot as plt

def plot_feature_importances(model):
    """Plots feature importances for a TensorFlow Decision Forest model."""

    # Get the inspector
    inspector = model.make_inspector()

    # Try to use inspector.importance()
    try:
        importances = inspector.importance()
        feature_names = importances['feature_names']
        importances = importances['importances']

        # Create a DataFrame for plotting
        feature_importances_df = pd.DataFrame({
            'Feature': feature_names,
            'Importance': importances
        })

        # Sort features by importance
        feature_importances_df = feature_importances_df.sort_values(by='Importance', ascending=False)


        # Plot
        plt.figure(figsize=(12, 8))
        plt.barh(feature_importances_df['Feature'], feature_importances_df['Importance'])
        plt.xlabel('Importance')
        plt.title('Feature Importances')
        plt.gca().invert_yaxis()  # Top features on top
        plt.show()

    except AttributeError:
        print("inspector.importance() not available. Consider alternative methods.")

        # Example using tfdf.model_plotter
        tfdf.model_plotter.plot_model(model)
        plt.show()

In [ ]:
plot_feature_importances(model)

inspector.importance() not available. Consider alternative methods.

In [ ]:
print("Elastic nets:")
enet_model, enet_predictions_df = elastic_net_regressor(X, y, X_test, df_test, id_column='Id')
enet_predictions_df.to_csv('submission.csv', index=False)

Elastic nets:

In [ ]:
display(enet_predictions_df)

        Id      SalePrice
0     1461  114563.801922
1     1462  154681.938359
2     1463  186070.271080
3     1464  208368.819542
4     1465  185135.210886
...    ...            ...
1454  2915   72606.879759
1455  2916   80941.586061
1456  2917  179807.210303
1457  2918  108371.705758
1458  2919  233946.056319

[1459 rows x 2 columns]